<template name="ac_input_password">
    <div class="ac-input-password">

        <div class="d-flex justify-content-start align-items-center ac-label">
            <div class="form-label">{{ text "label" }}</div>

            {{#if withMandatoryField }}
                {{> acMandatoryField }}
            {{/if}}

            <div class="flex-grow-1"></div>

            {{#if withStrength }}
                <div class="ac-strength d-flex justify-content-end align-items-center">
                    <div class="ac-strength-label">{{ text "strength" }}</div>
                    <div class="ac-strength-bar"></div>
                    <div class="ac-strength-other"></div>
                </div>
            {{/if}}

        </div>

        <div class="d-flex align-items-center">
            <input type="password" class="form-control ac-input {{ mandatoryBorder }}" placeholder="{{ text "placeholder" }}" autocomplete="{{ autocomplete }}" />
            <span class="fa-regular fa-eye-slash ac-eye"></span>
        </div>

        {{#if withErrorArea }}
            <div class="ac-error">
                {{{ errorMsg }}}
            </div>
        {{/if}}

    </div>
</template>
