<template name="ac_input_password">
    <div class="ac-input-password">

        <div class="d-flex justify-content-start align-items-center ac-label">
            <div class="form-label">{{ text "label" }}</div>
            {{> ac_mandatory_field }}
            <div class="flex-grow-1"></div>
            {{#if isNew }}
                <div class="ac-strength d-flex justify-content-end align-items-center">
                    <div class="ac-strength-label">{{ text "strength" }}</div>
                    <div class="ac-strength-bar"></div>
                    <div class="ac-strength-other"></div>
                </div>
            {{/if}}
        </div>

        <div class="d-flex align-items-center">
            <input type="password" class="form-control ac-input" placeholder="{{ text "placeholder" }}" autocomplete="pwix:accounts password" />
            <span class="fa-regular fa-eye-slash ac-eye"></span>
        </div>

        {{#if isNew }}
            <div class="ac-error">
                <p>{{ errorMsg }}</p>
            </div>
        {{/if}}

    </div>
</template>
