<template name="ac_input_password">
    <div class="ac-input-password">

        {{#unless isEmpty "label" }}
            <div class="d-flex justify-content-start align-items-center ac-label">
                <div class="form-label flex-grow-1">{{ i18n "label" }}</div>
                {{#if isNew }}
                    <div class="ac-strength d-flex justify-content-end">
                        <div class="ac-strength-label">{{ i18n "strength" }}</div>
                        <div class="ac-strength-bar"></div>
                        <div class="ac-strength-other"></div>
                    </div>
                {{/if}}
            </div>
        {{/unless}}

        <input type="password" class="form-control ac-input" placeholder="{{ i18n "placeholder" }}" autocomplete="accord password" />

    </div>
</template>
