<template name="ac_signin">
    <div class="ac-component ac-panel ac-signin">
        <form>

            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
            {{/if}}

            {{> ac_input_userid }}

            {{#if textTwo }}
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
            {{/if}}

            {{> ac_input_password }}

            {{#if textThree }}
                <div class="ac-text ac-text-three">{{{ textThree }}}</div>
            {{/if}}

            <div class="ac-error">
                <p>{{ errorMsg }}</p>
            </div>

        </form>
    </div>
</template>
