<template name="ac_signin">
    <div class="ac-signin">

        <form>
            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
                <div class="ac-mt1"></div>
            {{/if}}

            {{> ac_input_userid }}

            {{#if textTwo }}
                <div class="ac-mt1"></div>
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
                <div class="ac-mt1"></div>
            {{/if}}

            {{> ac_input_password }}

            {{#if textThree }}
                <div class="ac-mt1"></div>
                <div class="ac-text ac-text-three">{{{ textThree }}}</div>
            {{/if}}

            <div class="ac-error">
                <p>{{ errorMsg }}</p>
            </div>
        </form>

    </div>
</template>
