/*
 * /pwix:accounts/src/client/stylesheets/ac_accounts.less
 */

@import "{pwix:layout}/src/client/css/ui_layout.less";

body {
    line-height: var( --bs-body-line-height );
    color: inherit;
    background-color: inherit;
    border-color: inherit;
    
    .ac-border {
        border-top: solid 1px gray;
    }
    .ac-btn.dropdown-toggle:hover,
    .ac-btn.dropdown-toggle:active,
    .ac-btn.dropdown-toggle:focus-visible,
    .ac-btn.dropdown-toggle.show {
        background-color: transparent;
        border-color: initial;
    }
    .dropdown-item.disabled {
        svg, p {
            font-style: italic;
            color: gray;
        }
    }
    .ac-error {
        font-size: 85%;
        font-style: italic;
        color: red;
        p:first-child {
            margin-top: 0.5em;
        }
    }
    .ac-footer,
    .ac-footer-buttons {
        @media screen and ( max-width: @ui-sm-width ){
            flex-wrap: wrap;
        }
        button {
            margin-left: 0.5em;
        }
        .ac-right {
            width: -webkit-fill-available;
            @media screen and ( max-width: @ui-sm-width ){
                margin-top: 0.5em;
            }
        }
    }
    .ac-input-password {
        .ac-eye {
            margin-left: -30px;
            color: var( --bs-gray );
            position: relative;
            bottom: -2px;
        }
        .ac-strength-label {
            margin-right: 0.5em;
            font-size: 75%;
            color: black;
        }
        .ac-strength-bar {
            height: 0.25em;
        }
        .ac-strength-other {
            height: 0.25em;
            background-color: #f0f0f0;
            border: 1px solid #e0e0e0;
        }
    }
    form {
        .form-label {
            margin: 0;
        }
        div:not( :first-child ) .ac-label {
            margin-top: 0.75em;
        }
        input {
            margin-top: 0.25em;
        }
        input.form-control.ac-erroneous {
            border-color: var( --bs-danger );
        }
    }
    .ac-link a {
        font-size: 85%;
        margin-right: 1em;
        white-space: nowrap;
        color: var( --bs-link-color );
        text-decoration: none;
    }
    .ac-link a:hover {
        text-decoration: underline;
    }
    .ac-mandatory-footer {
        position: relative;
        bottom: -0.5em;
        margin-top: 1em;
    }
    .ac-mandatory-field:not( :first-child ) {
        margin-left: 0.25em;
    }
    .ac-mandatory-label {
        margin-left: 0.5em;
    }
    .ac-mandatory-field,
    .ac-mandatory-label {
        font-size: 85%;
        color: var( --bs-orange );
    }
    .ac-mandatory-field sup {
        top: -0.4em;
    }
    .ac-modal {
        color :black;
        background-color: white;
        .modal {
            --bs-modal-width: 550px;
        }
    }
    .ac-each-users {
        padding-left: 1em;
        line-height: 1.75em;
    }
    .ac-mt05 {
        margin-top: 0.5em;
    }
    .ac-mt1 {
        margin-top: 1em;
    }
}

// Prevent the Bootstrap backdrop modal to be displayed
/*
body.modal-open.ac-modal-class {
    .modal-backdrop.show {
        display: none;
    }
} 
*/
