<template name="ac_change_pwd">
    <div class="ac-change-pwd">

        <form>
            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
                <div class="ac-mt1"></div>
            {{/if}}

            <div class="ac-old">
                {{> ac_input_password (labelOld) }}
            </div>

            {{#if textTwo }}
                <div class="ac-mt1"></div>
                <div class="ac-border"></div>
                <div class="ac-mt1"></div>
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
            {{/if}}

            <div class="ac-mt1"></div>
            <div class="ac-border"></div>
            <div class="ac-mt1"></div>

            {{> ac_twice_passwords (parmTwice) }}

            {{#if textThree }}
            <div class="ac-mt1"></div>
            <div class="ac-text ac-text-three">{{{ textThree }}}</div>
            {{/if}}

            <div class="ac-error">
                {{{ errorMsg }}}
            </div>
        </form>

    </div>
</template>
