<template name="ac_change_pwd">
    <div class="ac-component ac-change-pwd">
        <form>

            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
            {{/if}}

            <div class="ac-old">
                {{> ac_input_password (labelOld) }}
            </div>

            {{#if textTwo }}
                <div class="ac-border ac-mt1"></div>
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
            {{/if}}

            <div class="ac-border ac-mt05"></div>

            {{> ac_twice_passwords (parmTwice) }}

            {{#if textThree }}
                <div class="ac-text ac-text-three">{{{ textThree }}}</div>
            {{/if}}

            <div class="ac-error">
                {{{ errorMsg }}}
            </div>

            {{> ac_mandatory_footer }}

        </form>
    </div>
</template>
