<template name="ac_input_username">
    <div class="ac-input-username">

        <div class="d-flex justify-content-start align-items-center ac-label ">
            <div class="form-label">{{ text "label" }}</div>
            {{#if mandatory }}
                {{> ac_mandatory_field }}
            {{/if}}
            <div class="flex-grow-1"></div>
        </div>

        <input class="form-control ac-input" placeholder="{{ text "placeholder" }}" autocomplete="pwix:accounts username" />

        {{#if isNew }}
            <div class="ac-error">
                {{{ errorMsg }}}
            </div>
        {{/if}}

    </div>
</template>
