<template name="ac_input_username">
    <div class="ac-input-username">

        <fieldset>
            <legend>{{ legend }}</legend>

            <div class="d-flex justify-content-start align-items-center ac-label ">
                <div class="form-label">{{ text "label" }}</div>
                {{#if mandatoryField }}
                    {{> ac_mandatory_field }}
                {{/if}}
                <div class="flex-grow-1"></div>
            </div>

            <div>
                <input class="form-control ac-input {{ mandatoryBorder }}" placeholder="{{ text "placeholder" }}" autocomplete="pwix:accounts-ui username" />
            </div>

            {{#if isNew }}
                <div class="ac-error">
                    {{{ errorMsg }}}
                </div>
            {{/if}}

        </fieldset>

    </div>
</template>
