<template name="ac_reset_pwd">
    <div class="ac-component ac-reset-pwd">

        <form>
            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
                <div class="ac-mt1"></div>
            {{/if}}

            {{> ac_twice_passwords (parmTwice) }}

            {{#if textTwo }}
                <div class="ac-mt1"></div>
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
            {{/if}}
        </form>

    </div>
</template>
