<template name="ac_twice_passwords">
    <div class="ac-twice-passwords">

        <fieldset>
            <legend>{{ legend }}</legend>

            <div class="ac-newone">
                {{> ac_input_password (parmNewOne) }}
            </div>

            {{#if twice }}
                <div class="ac-newtwo ac-mt05">
                    {{> ac_input_password (parmNewTwo) }}
                </div>
            {{/if}}

            <div class="ac-error">
                {{{ errorMsg }}}
            </div>

        </fieldset>

    </div>
</template>
