<template name="ac_twice_passwords">
    <div class="ac-twice-passwords">

        {{#if withFieldset }}
            <fieldset>
                <legend>{{ text "legend" }}</legend>
                {{> ac_twice_passwords_sub }}
            </fieldset>
        {{else}}
            {{> ac_twice_passwords_sub }}
        {{/if}}

    </div>
</template>

<template name="ac_twice_passwords_sub">
    <div class="ac-twice-passwords-sub">

        <div class="ac-newone">
            {{> ac_input_password (parmNewOne) }}
        </div>

        {{#if twice }}
            <div class="ac-newtwo ac-mt05">
                {{> ac_input_password (parmNewTwo) }}
            </div>
        {{/if}}

        {{#if withError }}
            <div class="ac-error">
                {{{ errorMsg }}}
            </div>
        {{/if}}

    </div>
</template>
