<template name="ac_signup">
    <div class="ac-component ac-panel ac-signup">
        <form>

            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
            {{/if}}

            {{#if haveUsername }}
                {{> ac_input_username (parmsUsername) }}
            {{/if}}

            {{#if textTwo }}
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
            {{/if}}

            {{#if haveEmailAddress }}
                {{> ac_input_email (parmsEmailAddress) }}
            {{/if}}

            {{#if textThree }}
                <div class="ac-text ac-text-three">{{{ textThree }}}</div>
            {{/if}}

            {{> ac_twice_passwords (parmsTwice) }}

            {{#if textFour }}
                <div class="ac-text ac-text-four">{{{ textFour }}}</div>
            {{/if}}

            <div class="ac-error">
                {{{ errorMsg }}}
            </div>

            {{> acMandatoryFooter }}

            {{#if textFive }}
                <div class="ac-text ac-text-four">{{{ textFive }}}</div>
            {{/if}}

        </form>
    </div>
</template>
