<template name="ac_signup">
    <div class="ac-signup">

        <form>
            {{#if textOne }}
                <div class="ac-text ac-text-one">{{{ textOne }}}</div>
                <div class="ac-mt1"></div>
            {{/if}}

            {{> ac_input_mail }}

            {{#if textTwo }}
                <div class="ac-mt1"></div>
                <div class="ac-text ac-text-two">{{{ textTwo }}}</div>
                <div class="ac-mt1"></div>
            {{/if}}

            {{> ac_input_password (passwordData) }}

            {{#if textThree }}
                <div class="ac-mt1"></div>
                <div class="ac-text ac-text-three">{{{ textThree }}}</div>
            {{/if}}

            <div class="ac-error">
                {{{ errorMsg }}}
            </div>
        </form>

    </div>
</template>
