<template name="acSelect">
    <div class="acSelect">

        <div class="ac-text">
            {{{ text }}}
        </div>

        <div class="ac-border w-100">
            <div class="ac-each-users">
                {{#each id in users }}
                    <div class="d-flex align-items-center ac-item">
                        <input type="checkbox" class="form-check-input form-check-input-sm ac-checkbox" data-ac-id="{{ id }}" id="ac-select-{{ uuid }}-{{ id }}" {{ selected id }} />
                        <label class="form-check-label form-check-label-sm ac-item" for="ac-select-{{ uuid }}-{{ id }}">{{ username id }}</label>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</template>
